lifelines
scikit-learn
pandas
numpy
tensorflow
google-cloud==0.23.0
jupyter-client==5.1.0
jupyter-core==4.3.0
MarkupSafe==1.0
mock==2.0.0
oauth2client==2.2.0
pandas-profiling==1.4.0
pathlib2==2.3.0
patsy==0.4.1
pyparsing==2.2.0
python-dateutil==2.5.0
pytz==2017.2
PyYAML==3.11
pyzmq==16.0.2
requests==2.9.1
uritemplate==0.6
urllib3==1.22
wcwidth==0.1.7